<article class="image-teaser">
    <header class="image-teaser__header">

        {% if item.data.image %}

            <figure class="image-teaser__image">

                {% include '@components/image.twig' with {
                    image: {
                        path: item.data.image,
                        alt: item.data.title
                    }
                } %}

            </figure>

        {% endif %}

    </header>

    <div class="image-teaser__main">
        <div class="image-teaser__meta-title">
            <h2 class="image-teaser__title">{{ item.data.teaserTitle ? item.data.teaserTitle : item.title }}</h2>
            <time datetime="{{ item.data.date.datetime }}">{{ item.data.date.locale }}</time>
        </div>
        <div>{{ item.data.teaser }}</div>
        <div class="image-teaser__footer">
            <a href="{{ item.url }}" class="image-teaser__more">weiter</a>
        </div>
    </div>
</article>

