{% extends 'layouts::base.twig' %}

{% block mainHeader %}
{% endblock %}

{% block main %}

    <main class="layout-news-detail">
        <header class="layout-news-detail__hero-image">

            {% if data.image %}
                {% include '@components/image.twig' with {image: data.image} %}
            {% endif %}

        </header>

        <div class="layout-news-detail__inner">
            <h1 class="layout-news-detail__title">{{ title }}</h1>
            <div class="layout-news-detail__meta">
                <p class="layout-news-detail__meta-title">{{ data.teaserTitle ? data.teaserTitle : title }}</p>
                <time datetime="{{ data.date.datetime }}">{{ data.date.locale }}</time>
            </div>

            <div class="text-container">

                {% block mainArticle %}
                    <p>{{ data.teaser }}</p>
                {% endblock %}

            </div>

            <footer class="layout-news-detail__footer">
                <a href="/aktuelles.html" class="button">zurück</a>
            </footer>
        </div>
    </main>

{% endblock %}

{% block mainEnd %}


{% endblock %}
