{% extends 'layouts::base.twig' %}

{% block main %}

    <div class="layout-object-detail base-width">
        <div class="layout-object-detail__back">
            <button onclick="history.back()" class="link">
                <span class="link__icon"><span class="icon-chevron"></span></span><span>zurück zur Übersicht</span>
            </button>
        </div>
        <header class="layout-object-detail__header">
            <h1 class="layout-object-detail__title">Zu verkaufen <strong>{{ title }}</strong></h1>

            {% if data.slides %}

                <ul data-slider>

                    {% for slide in data.slides %}

                        <li>
                            <figure class="slide-image">

                                {% include '@components/image.twig' with {image: slide}.image %}

                            </figure>
                        </li>

                    {% endfor %}

                </ul>

            {% endif %}
            <time datetime="{{ data.date.datetime }}">{{ data.date.locale }}</time>
        </header>

        <main class="layout-object-detail__main">
            <div class="layout-object-detail__meta-infos">
                <p class="layout-object-detail__info-item"><strong>Verfügbarkeit</strong> <br>
                    Ab {{ data.availability }}</p>

                <p class="layout-object-detail__info-item"><strong>Location</strong> <br>
                    {{ data.location }}</p>

                <p class="layout-object-detail__info-item"><strong>Preis</strong> <br>
                    {{ data.price }}</p>

                <p class="layout-object-detail__info-item"><strong>Nutzfläche</strong> <br>
                    Fläche {{ data.area }}</p>
            </div>

            <div class="layout-object-detail__description layout-object-detail__info-item">
                <h2 class="layout-object-detail__description-title">Beschreibung</h2>
                {{ data.description }}
            </div>

            <div id="location-map" class="layout-object-detail__map" data-map>
                <script type="application/json">{{ {
                        location: data.location,
                        title: title,
                    } | json_encode() }}</script>
            </div>

            <div class="layout-object-detail__contact-footer">
                <p class="layout-object-detail__description-title"><strong>Haben wir <br>Ihr Interesse geweckt?</strong></p>

                <a href="/kontakt.html" class="layout-object-detail__contact-button">Jetzt anfragen!</a>
            </div>
        </main>
    </div>

    <aside class="bg color-scheme color-scheme--dark-on-primary">
        <div class="bg__inner">
            <div class="layout-estate-listing layout-estate-listing--newest" data-real-estates data-real-estates-limit="3">
                {% include '@components/html-templates/estate-tile.twig' %}
                {% include '@components/html-templates/estate-table.twig' %}
            </div>
        </div>
    </aside>

{% endblock %}

{% block mainEnd %}
    <a href="/.">Zurück</a>
{% endblock %}
